<div class="page-title">
  <div class="row align-items-center">
    <div class="col-12">
      <div class="d-flex justify-content-end align-items-center gap-4">
        <!-- Tanggal -->
        <div class="d-flex align-items-center">
          <i class="bi bi-calendar3 text-primary fs-5 me-2"></i>
          <div>
            <small class="text-muted d-block">Tanggal</small>
            <span id="current_date"></span>
          </div>
        </div>

        <!-- Jam -->
        <div class="d-flex align-items-center">
          <i class="bi bi-clock text-success fs-5 me-2"></i>
          <div>
            <small class="text-muted d-block">Jam</small>
            <span id="current_time"></span>
          </div>
        </div>

        <!-- Kasir -->
        <div class="d-flex align-items-center">
          <div class="avatar avatar-md bg-primary me-2">
            <span class="avatar-content">
              <i class="bi bi-person-fill"></i>
            </span>
          </div>

          <div>
            <div id="cashier_name" class="fw-bold"></div>
            <small class="text-muted">Kasir</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
