<!--! ================================================================ !-->
<!--! [Start] Navigation Section !-->
<!--! ================================================================ !-->
<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo text-center">
          <h4>POS Bengkel</h4>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Menu</li>
        <li class="sidebar-item {% if active_menu == 'dashboard' %}active{% endif %}">
          <a href="{{ url_for('dashboard.index') }}" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sidebar-title">MASTER DATA</li>
        <li class="sidebar-item {% if active_menu == 'workshop_profile' %}active{% endif %}">
          <a href="{{ url_for('workshop.index') }}" class="sidebar-link">
            <i class="bi bi-shop"></i>
            <span>Profil Bengkel</span>
          </a>
        </li>

        <li class="sidebar-item {% if active_menu == 'cashier_management' %}active{% endif %}">
          <a href="{{ url_for('cashier_management.index') }}" class="sidebar-link">
            <i class="bi bi-person-badge"></i>
            <span>Manajemen Kasir</span>
          </a>
        </li>

        <li class="sidebar-item {% if active_menu == 'customer' %}active{% endif %}">
          <a href="{{ url_for('customer.index') }}" class="sidebar-link">
            <i class="bi bi-people"></i>
            <span>Data Pelanggan</span>
          </a>
        </li>
        <li class="sidebar-item {% if active_menu == 'supplier' %}active{% endif %}">
          <a href="{{ url_for('supplier.index') }}" class="sidebar-link">
            <i class="bi bi-truck"></i>
            <span>Data Supplier</span>
          </a>
        </li>

        <li class="sidebar-item {% if active_menu == 'service' %}active{% endif %}">
          <a href="{{ url_for('service.index') }}" class="sidebar-link">
            <i class="bi bi-tools"></i>

            <span>Jasa Servis</span>
          </a>
        </li>

        <li class="sidebar-item has-sub {% if active_menu in ['category','product'] %}active{% endif %}">
          <a href="#" class="sidebar-link">
            <i class="bi bi-box-seam"></i>
            <span>Master Barang</span>
          </a>

          <ul class="submenu {% if active_menu in ['category','product'] %}active{% endif %}">
            <li class="submenu-item {% if active_menu == 'category' %}active{% endif %}">
              <a href="{{ url_for('category.index') }}">Kategori Barang</a>
            </li>

            <li class="submenu-item {% if active_menu == 'product' %}active{% endif %}">
              <a href="{{ url_for('product.index') }}">Data Barang</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-title">TRANSAKSI</li>
        <li class="sidebar-item has-sub {% if active_menu in ['purchase','purchase_history','sales','sales_history'] %}active{% endif %}">
          <a href="#" class="sidebar-link">
            <i class="bi bi-cart-check"></i>
            <span>Transaksi</span>
          </a>

          <ul class="submenu {% if active_menu in ['purchase','history_sales'] %}active{% endif %}">
            <li class="submenu-item {% if active_menu == 'purchase' %}active{% endif %}">
              <a href="{{ url_for('purchase.index') }}"> Pembelian </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-title">LAPORAN</li>
            <li
              class="sidebar-item has-sub {% if active_menu in ['report','history_sales'] %}active{% endif %}"
            >
              <a href="#" class="sidebar-link">
                <i class="bi bi-file-earmark-text"></i>
                <span>Laporan</span>
              </a>
              <ul class="submenu {% if active_menu in ['report','history_sales'] %}active{% endif %}">
                <li class="submenu-item {% if active_menu == 'report' %}active{% endif %}">
                  <a href="{{ url_for('report.index_rpurchase') }}"> Laporan Pembelian </a>
                </li>
                
                <li class="submenu-item {% if active_menu == 'history_sales' %}active{% endif %}">
                  <a href="{{ url_for('history_sales.index') }}">Laporan Penjualan </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
<!--! ================================================================ !-->
<!--! [End] Navigation Section !-->
<!--! ================================================================ !-->
