<!--! ================================================================ !-->
<!--! [Start] Navigation Section !-->
<!--! ================================================================ !-->
<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo text-center">
          <h4>POS Bengkel</h4>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <!--! ================================================================ !-->
<!--! [Start] Administrator Sidebar !-->
<!--! ================================================================ !-->

<div id="sidebar" class="active">

  <div class="sidebar-wrapper active">

      <div class="sidebar-header">

          <div class="d-flex justify-content-between align-items-center">

              <div>
                  <small class="text-muted">
                      System Administrator
                  </small>

              </div>

          </div>

      </div>

      <div class="sidebar-menu">

          <ul class="menu">

              <li class="sidebar-title">

                  Menu

              </li>

              <li class="sidebar-item {{ 'active' if active_menu == 'administrator' }}">

                  <a
                      href="{{ url_for('administrator.dashboard') }}"
                      class="sidebar-link">

                      <i class="bi bi-grid-fill"></i>

                      <span>

                          Dashboard

                      </span>

                  </a>

              </li>

              <li class="sidebar-title">

                  Workshop

              </li>

              <li class="sidebar-item {{ 'active' if active_menu == 'workshop' }}">

                  <a
                      href="{{ url_for('administrator.dashboard') }}"
                      class="sidebar-link">

                      <i class="bi bi-shop"></i>

                      <span>

                          Data Workshop

                      </span>

                  </a>

              </li>

              <li class="sidebar-title">

                  Akun

              </li>

              <li class="sidebar-item">

                  <a
                      href="{{ url_for('auth.signout') }}"
                      class="sidebar-link">

                      <i class="bi bi-box-arrow-right"></i>

                      <span>

                          Logout

                      </span>

                  </a>

              </li>

          </ul>

      </div>

  </div>

</div>

<!--! ================================================================ !-->
<!--! [End] Administrator Sidebar !-->
<!--! ================================================================ !-->
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
<!--! ================================================================ !-->
<!--! [End] Navigation Section !-->
<!--! ================================================================ !-->
