<!--! ================================================================ !-->
<!--! [Start] Administrator Navigation Section !-->
<!--! ================================================================ !-->
<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <!-- ************************************************************** -->
    <!-- SIDEBAR HEADER | START -->
    <!-- ************************************************************** -->
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="{{ url_for('dashboard_administrator.index') }}" class="text-decoration-none">
            <h4 class="mb-0">POS Bengkel</h4>

            <small class="text-muted"> Administrator </small>
          </a>
        </div>

        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block">
            <i class="bi bi-x bi-middle"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- ************************************************************** -->
    <!-- SIDEBAR HEADER | END -->
    <!-- ************************************************************** -->

    <!-- ************************************************************** -->
    <!-- SIDEBAR MENU | START -->
    <!-- ************************************************************** -->
    <div class="sidebar-menu">
      <ul class="menu">
        <!-- ========================================================== -->
        <!-- MENU UTAMA -->
        <!-- ========================================================== -->
        <li class="sidebar-title">MENU UTAMA</li>

        <li class="sidebar-item {% if active_menu == 'dashboard_administrator' %} active {% endif %}">
          <a href="{{ url_for('dashboard_administrator.index') }}" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!-- ========================================================== -->
        <!-- PENGELOLAAN PLATFORM -->
        <!-- ========================================================== -->
        <li class="sidebar-title">PENGELOLAAN PLATFORM</li>

        <li class="sidebar-item {% if active_menu == 'workshop_management' %} active {% endif %}">
          <a href="{{ url_for('workshop_management.workshop_management_page') }}" class="sidebar-link">
            <i class="bi bi-shop"></i>

            <span>Manajemen Bengkel</span>
          </a>
        </li>

        <li class="sidebar-item {% if active_menu == 'subscription_payment_history' %} active {% endif %}">
          <a href="{{ url_for('subscription_payment_history.index') }}" class="sidebar-link">
            <i class="bi bi-credit-card-2-front"></i>

            <span>Riwayat Pembayaran</span>
          </a>
        </li>

        <!-- ========================================================== -->
        <!-- AKUN -->
        <!-- ========================================================== -->
        <li class="sidebar-title">AKUN</li>

        <li class="sidebar-item logout-item">
          <a href="{{ url_for('auth.signout') }}" id="logout" class="sidebar-link text-danger">
            <i class="bi bi-box-arrow-right"></i>

            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- ************************************************************** -->
    <!-- SIDEBAR MENU | END -->
    <!-- ************************************************************** -->

    <!-- ************************************************************** -->
    <!-- SIDEBAR TOGGLER | START -->
    <!-- ************************************************************** -->
    <button class="sidebar-toggler btn x">
      <i data-feather="x"></i>
    </button>
    <!-- ************************************************************** -->
    <!-- SIDEBAR TOGGLER | END -->
    <!-- ************************************************************** -->
  </div>
</div>
<!--! ================================================================ !-->
<!--! [End] Administrator Navigation Section !-->
<!--! ================================================================ !-->
