<!--! ================================================================ !-->
<!--! [Start] Navigation Section !-->
<!--! ================================================================ !-->
<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo text-center">
          <h4>POS Bengkel</h4>
        </div>

        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block">
            <i class="bi bi-x bi-middle"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="sidebar-menu">
      <ul class="menu">
        <!-- ======================================================= -->
        <!-- Dashboard -->
        <!-- ======================================================= -->

        <li class="sidebar-title">MENU</li>

        <li class="sidebar-item {% if active_menu == 'dashboard_cashier' %}active{% endif %}">
          <a href="{{ url_for('dashboard_cashier.index') }}" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>

            <span>Dashboard</span>
          </a>
        </li>

        <!-- ======================================================= -->
        <!-- Transaksi -->
        <!-- ======================================================= -->

        <li class="sidebar-title">TRANSAKSI</li>

        <li class="sidebar-item {% if active_menu == 'cashier' %}active{% endif %}">
          <a href="{{ url_for('cashier.index') }}" class="sidebar-link">
            <i class="bi bi-cart-check-fill"></i>

            <span>Kasir</span>
          </a>
        </li>
        <li class="sidebar-item {% if active_menu == 'cash_deposit' %}active{% endif %}">
          <a href="{{ url_for('cash_deposit.index') }}" class="sidebar-link">
            <i class="bi bi-cash"></i>

            <span>Keuangan</span>
          </a>
        </li>
        <li class="sidebar-item {% if active_menu == 'cashier_history_sales' %}active{% endif %}">
          <a href="{{ url_for('history_sales.cashier') }}" class="sidebar-link">
            <i class="bi bi-clock-history"></i>

            <span>Riwayat Penjualan</span>
          </a>
        </li>

        <!-- ======================================================= -->
        <!-- master data -->
        <!-- ======================================================= -->

        <li class="sidebar-title">Master Data</li>

        <li class="sidebar-item {% if active_menu == 'customer' %}active{% endif %}">
          <a href="{{ url_for('cashier.customer') }}" class="sidebar-link">
            <i class="bi bi-people"></i>
            <span>Data Pelanggan</span>
          </a>
        </li>

        <!-- ======================================================= -->
        <!-- Akun -->
        <!-- ======================================================= -->

        <li class="sidebar-title">AKUN</li>

        <li class="sidebar-item">
          <a href="/auth/signout" id="logout" class="sidebar-link text-danger">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <button class="sidebar-toggler btn x">
      <i data-feather="x"></i>
    </button>
  </div>
</div>
<!--! ================================================================ !-->
<!--! [End] Navigation Section !-->
<!--! ================================================================ !-->
