{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">
    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">
      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <!--! ================================================================ !-->
      <div class="page-title">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6">
            <h3>Dashboard Owner</h3>
            <p class="text-muted mb-0">Ringkasan aktivitas bengkel hari ini.</p>
          </div>

          <div class="col-lg-5 col-md-6 text-md-end mt-3 mt-md-0">
            <p class="text-muted mb-1" id="current_date"></p>

            <h5 class="fw-bold text-primary mb-0" id="current_user">
              <i class="bi bi-hand-wave me-2"></i>
            </h5>
          </div>
        </div>
      </div>
      <!--! ================================================================ !-->
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Summary Card !-->
      <!--! ================================================================ !-->
      <section class="section">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                  <h6 class="text-muted">Total Penjualan</h6>
                  <h3 id="total_payments">Rp 0</h3>
                </div>

                <div>
                  <i class="bi bi-cash-stack fs-1 text-primary ms-3"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="text-muted mb-1">Total Pembelian</h6>

                    <h3 class="mb-0" id="total_purchase">Rp 0</h3>
                  </div>

                  <div>
                    <i class="bi bi-cart-check fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="text-muted mb-1">Total Transaksi</h6>

                    <h3 class="mb-0" id="total_transaction">Rp 0</h3>
                  </div>

                  <div>
                    <i class="bi bi-receipt fs-1 text-warning"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="text-muted mb-1">Total Customers</h6>

                    <h3 class="mb-0" id="total_customer">0</h3>
                  </div>

                  <div>
                    <i class="bi bi-people fs-1 text-info"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="text-muted mb-1">Total Barnag</h6>

                    <h3 class="mb-0" id="total_product">0</h3>
                  </div>

                  <div>
                    <i class="bi bi-box-seam fs-1 text-secondary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="text-muted mb-1">Total Jasa</h6>

                    <h3 class="mb-0" id="total_service">0</h3>
                  </div>

                  <div>
                    <i class="bi bi-tools fs-1 text-danger"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! ================================================================ !-->
      <!--! [End] Summary Card !-->
      <!--! ================================================================ !-->
      <!--! ================================================================ !-->
      <!--! [Start] Sales & Purchase Chart !-->
      <!--! ================================================================ !-->
      <div class="mb-3">
        <h5>Analisis Penjualan</h5>

        <p class="text-muted mb-0">Grafik penjualan dan pembelian bengkel.</p>
      </div>
      <section class="section">
        <div class="row">
          <!-- Sales Chart -->
          <div class="col-lg-6 col-12">
            <div class="card shadow-sm h-100">
              <div class="card-header">
                <h4 class="mb-1">
                  <i class="bi bi-graph-up-arrow me-2"></i>
                  Grafik Penjualan
                </h4>

                <small class="text-muted"> Total penjualan berdasarkan tanggal transaksi. </small>
              </div>

              <div class="card-body pb-4">
                <div id="payment_chart"></div>
              </div>
            </div>
          </div>

          <!-- Purchase Chart -->
          <div class="col-lg-6 col-12">
            <div class="card h-100">
              <div class="card-header shadow-sm h-100">
                <h4 class="mb-1">
                  <i class="bi bi-cart-check me-2"></i>
                  Grafik Pembelian
                </h4>

                <small class="text-muted"> Total pembelian berdasarkan tanggal transaksi. </small>
              </div>

              <div class="card-body">
                <div id="purchase_chart"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! ================================================================ !-->
      <!--! [End] Sales & Purchase Chart !-->
      <!--! ================================================================ !-->
      <!--! ================================================================ !-->
      <!--! [Start] Dashboard Tables !-->
      <!--! ================================================================ !-->
      <div class="mt-4 mb-3">
        <h5>Monitoring Bengkel</h5>

        <p class="text-muted mb-0">Ringkasan produk, jasa, stok, dan transaksi terbaru.</p>
      </div>
      <section class="section">
        <div class="row">
          <!--! ================================================================ !-->
          <!--! [Start] Top Product !-->
          <!--! ================================================================ !-->
          <div class="col-lg-6 col-12">
            <div class="card shadow-sm h-100">
              <div class="card-header">
                <h4 class="mb-0">
                  <i class="bi bi-box-seam me-2"></i>
                  Top Produk
                </h4>
              </div>

              <div class="card-body">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Produk</th>
                      <th>Total Terjual</th>
                    </tr>
                  </thead>

                  <tbody id="top_product_table">
                    <!-- Set by Javascript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--! ================================================================ !-->
          <!--! [End] Top Product !-->
          <!--! ================================================================ !-->

          <!--! ================================================================ !-->
          <!--! [Start] Top Service !-->
          <!--! ================================================================ !-->
          <div class="col-lg-6 col-12">
            <div class="card shadow-sm h-100">
              <div class="card-header">
                <h4 class="mb-0">
                  <i class="bi bi-tools me-2"></i>
                  Top Jasa
                </h4>
              </div>

              <div class="card-body">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Jasa</th>
                      <th>Total Digunakan</th>
                    </tr>
                  </thead>

                  <tbody id="top_service_table">
                    <!-- Set by Javascript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--! ================================================================ !-->
          <!--! [End] Top Service !-->
          <!--! ================================================================ !-->

          <!--! ================================================================ !-->
          <!--! [Start] Low Stock !-->
          <!--! ================================================================ !-->
          <div class="col-lg-6 col-12">
            <div class="card shadow-sm h-100">
              <div class="card-header">
                <h4 class="mb-0">
                  <i class="bi bi-exclamation-triangle me-2"></i>
                  Stok Menipis
                </h4>
              </div>

              <div class="card-body">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Barang</th>
                      <th>Stok</th>
                    </tr>
                  </thead>

                  <tbody id="low_stock_table">
                    <!-- Set by Javascript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--! ================================================================ !-->
          <!--! [End] Low Stock !-->
          <!--! ================================================================ !-->

          <!--! ================================================================ !-->
          <!--! [Start] Recent Transaction !-->
          <!--! ================================================================ !-->
          <div class="col-lg-6 col-12">
            <div class="card shadow-sm h-100">
              <div class="card-header">
                <h4 class="mb-0">
                  <i class="bi bi-clock-history me-2"></i>
                  Transaksi Terbaru
                </h4>
              </div>

              <div class="card-body">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>Invoice</th>
                      <th>Pelanggan</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody id="recent_transaction_table">
                    <!-- Set by Javascript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--! ================================================================ !-->
          <!--! [End] Recent Transaction !-->
          <!--! ================================================================ !-->
        </div>
      </section>
      <!--! ================================================================ !-->
      <!--! [End] Dashboard Tables !-->
      <!--! ================================================================ !-->
      <!--! ================================================================ !-->
      <!--! [Start] Footer !-->
      <!--! ================================================================ !-->
      <div class="mt-4">{% include 'components/footer_dashboard.html' %}</div>
      <!--! ================================================================ !-->
      <!--! [End] Footer !-->
      <!--! ================================================================ !-->
    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->
  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->

  <script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script>

  <script src="{{ url_for('static', filename='javascript/helper/utilities.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/helper/formatter.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/helper/swal.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/helper/validators.js') }}"></script>

  <script src="{{ url_for('static', filename='javascript/api/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/pages/dashboard.js') }}"></script>

  {% endblock %}
</div>
