{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">
    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">
      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>RIWAYAT PEMBELIAN</h3>
            <!-- <p class="text-subtitle text-muted">The default layout</p> -->
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-header float-start float-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Riwayat Pembelian
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <section class="section">
        <div class="card">
          <!-- <div class="card-header">Simple Datatable</div> -->
          <div class="card-body">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Supplier</th>
                  <th>Tanggal</th>
                  <th>Total</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for purchase in purchases %}

                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ purchase.supplier.nama }}</td>
                  <td>{{ purchase.tanggal }}</td>
                  <td>{{ purchase.total }}</td>

                  <td>
                     <a
                        href="{{ url_for('purchase.detail', id=purchase.id) }}"
                        class="btn btn-info btn-sm">
                        Detail
                 
                     </a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!--! [End] Header !-->
      <!--! ================================================================ !-->
    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Footer !-->
    {% include 'components/footer_dashboard.html' %}
    <!--! [End] Footer !-->
    <!--! ================================================================ !-->
  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->
</div>

{% endblock %}
