{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">
    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">
      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>PENJUALAN BARANG</h3>
            <!-- <p class="text-subtitle text-muted">The default layout</p> -->
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-header float-start float-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Penjualan Barang
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ============================ PENJUALAN - START ==================================== !-->
      <!--! [Start] Card Customer !-->
      <section class="section">
        <div class="card">
          <div class="card-header">
            <h4>Penjualan Barang</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label>Customer</label>

                <select id="customer_id" class="form-select">
                  {% for customer in customers %}

                  <option value="{{ customer.id }}">{{ customer.nama }}</option>

                  {% endfor %}
                </select>
              </div>

              <div class="col-md-6">
                <label>Tanggal</label>

                <input type="date" id="tanggal" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! [End] Card Customer !-->

      <!--! [Start] Card Detail Barang !-->
      <section class="section">
        <div class="card">
          <div class="card-body pb-0">
            <label class="form-label"> Cari Barang </label>

            <select id="search-item" class="form-select">
              <option value="">Cari Barang...</option>

              {% for item in items %}
              <option value="{{ item.id }}">{{ item.nama_barang }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="card-body pb-0">
            <div class="form-label text-center">
              <h4>Detail Barang</h4>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Barang</th>
                  <th>Qty</th>
                  <th>Harga Jual</th>
                  <th>Subtotal</th>
                  <th>Aksi</th>
                </tr>
              </thead>

              <tbody id="sales-items"></tbody>
            </table>
          </div>
        </div>
      </section>
      <!--! [End] Card Detail Barang !-->

      <!--! [Start] Card Detail jasa !-->
      <section class="section">
        <div class="card">
          <div class="card-header">
            <h4>Detail Jasa</h4>
          </div>

          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Jasa</th>
                  <th>Qty</th>
                  <th>Harga Jasa</th>
                  <th>Subtotal</th>
                  <th>Aksi</th>
                </tr>
              </thead>

              <tbody id="service-items"></tbody>
            </table>

            <button class="btn btn-info" onclick="addServiceRow()">
              Tambah Jasa
            </button>
          </div>
        </div>
      </section>
      <!--! [End] Card Detail Jasa !-->

      <!--! [Start] Card Total Pembelian !-->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <h4>Total : Rp <span id="grand-total">0</span></h4>

            <button class="btn btn-success" onclick="saveSales()">
              Simpan Penjualan
            </button>
          </div>
        </div>
      </section>
      <!--! [End] Card Total Pembelian !-->
      <!--! =============================== PENJUALAN - END ================================= !-->
    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Footer !-->
    {% include 'components/footer_dashboard.html' %}
    <!--! [End] Footer !-->
    <!--! ================================================================ !-->
  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->
</div>
<script>

  const itemsData = [
      {% for item in items %}
      {
          id: "{{ item.id }}",
          nama_barang: "{{ item.nama_barang }}",
          harga_jual: "{{ item.harga_jual }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
  ];

  const servicesData = [
      {% for service in services %}
      {
          id: "{{ service.id }}",
          nama_jasa: "{{ service.nama_jasa }}",
          biaya_jasa: "{{ service.biaya_jasa }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
  ];

  console.log(itemsData);
</script>
<script src="{{ url_for('static', filename='javascript/backend/sales.js') }}"></script>
{% endblock %}
