{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">
    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">
      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>PENJUALAN BARANG</h3>
            <!-- <p class="text-subtitle text-muted">The default layout</p> -->
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav
              aria-label="breadcrumb"
              class="breadcrumb-header float-start float-lg-end"
            >
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Penjualan Barang
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ============================ PENJUALAN - START ==================================== !-->
      <!--! [Start] Card Customer !-->
      <section class="section">
        <div class="card">
          <div class="card-header">
            <h4>Data Transaksi</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <label>Member (Opsional)</label>

                <select id="customer_id" class="form-control">
                  <option value="">Pelanggan Umum</option>

                  {% for customer in customers %}
                  <option value="{{ customer.id }}">{{ customer.nama }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-1 d-flex align-items-end">
                <button
                  type="button"
                  class="btn btn-primary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#inlineForm"
                >
                  +
                </button>
              </div>

              <div class="col-md-6">
                <label>Tanggal</label>

                <input
                  type="date"
                  id="tanggal"
                  class="form-control"
                  value="{{ current_date }}"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! [End] Card Customer !-->

      <!--! [Start] Card Detail Barang !-->
      <section class="section">
        <div class="card">
          <div class="card-header">
            <h4>Detail Barang</h4>
          </div>

          <div class="card-body">
            <label class="form-label"> Cari Barang </label>

            <select id="search-item" class="form-select">
              <option value="">Cari Barang...</option>

              {% for item in items %}
              <option value="{{ item.id }}">{{ item.nama_barang }}</option>
              {% endfor %}
            </select>

            <hr />

            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>Barang</th>
                  <th width="120">Qty</th>
                  <th>Harga Jual</th>
                  <th>Subtotal</th>
                  <th width="80">Aksi</th>
                </tr>
              </thead>

              <tbody id="sales-items"></tbody>
            </table>
          </div>
        </div>
      </section>
      <!--! [End] Card Detail Barang !-->

      <!--! [Start] Card Detail jasa !-->
      <section class="section">
        <div class="card">
          <div class="card-header">
            <h4>Detail Jasa</h4>
          </div>

          <div class="card-body">
            <label class="form-label"> Cari Jasa </label>
            <select id="search-service" class="form-select">
              <option value="">Cari Jasa...</option>

              {% for service in services %}
              <option value="{{ service.id }}">{{ service.nama_jasa }}</option>
              {% endfor %}
            </select>
            <hr />
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Jasa</th>
                  <th>Qty</th>
                  <th>Harga Jasa</th>
                  <th>Subtotal</th>
                  <th>Aksi</th>
                </tr>
              </thead>

              <tbody id="service-items"></tbody>
            </table>
          </div>
        </div>
      </section>
      <!--! [End] Card Detail Jasa !-->

      <!--! [Start] Card Total Pembelian !-->
      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h4 class="text-success">
                Total : Rp<span id="grand-total">0</span>
              </h4>
            </div>

            <div class="col-md-4">
              <label>Bayar</label>

              <input
                type="text"
                id="bayar"
                class="form-control"
                placeholder="Masukkan uang pembayaran"
                oninput="formatBayar()"
              />
            </div>

            <div class="col-md-4">
              <label>Kembalian</label>

              <input
                type="text"
                id="kembalian"
                class="form-control"
                readonly
                value="Rp 0"
              />
            </div>
          </div>

          <div class="mt-3 text-end">
            <button class="btn btn-success" onclick="saveSales()">
              Simpan Penjualan
            </button>
          </div>
        </div>
      </div>
      <!--! [End] Card Total Pembelian !-->
      <!--! =============================== PENJUALAN - END ================================= !-->

      <!--! ================================================================ !-->
      <!--! [Start] Form Add Customer/Member Modal !-->
      <div
        class="modal fade text-left"
        id="inlineForm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel33"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel33">Tambah Member</h4>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <i data-feather="x"></i>
              </button>
            </div>
            <form action="#" method="post">
              <div class="modal-body">
                <label>Nama : </label>
                <div class="form-group">
                  <input
                    type="text"
                    id="nama"
                    class="form-control"
                    placeholder="Nama"
                  />
                </div>
                <label>Alamat : </label>
                <div class="form-group">
                  <input
                    type="text"
                    id="alamat"
                    class="form-control mt-2"
                    placeholder="Alamat"
                  />
                </div>
                <label>No.tlp : </label>
                <div class="form-group">
                  <input
                    type="text"
                    id="telepon"
                    class="form-control mt-2"
                    placeholder="Telepon"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light-secondary"
                  data-bs-dismiss="modal"
                >
                  <i class="bx bx-x d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Tutup</span>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="saveCustomer()"
                >
                  Simpan
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--! [End] Form Add Customer/Member Modal !-->
      <!--! ================================================================ !-->
    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Footer !-->
    {% include 'components/footer_dashboard.html' %}
    <!--! [End] Footer !-->
    <!--! ================================================================ !-->
  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->
</div>
<script>

  const itemsData = [
      {% for item in items %}
      {
          id: "{{ item.id }}",
          nama_barang: "{{ item.nama_barang }}",
          harga_jual: "{{ item.harga_jual }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
  ];

  const servicesData = [
      {% for service in services %}
      {
          id: "{{ service.id }}",
          nama_jasa: "{{ service.nama_jasa }}",
          biaya_jasa: "{{ service.biaya_jasa }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
  ];

  console.log(itemsData);
</script>
<script src="{{ url_for('static', filename='javascript/backend/sales.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/backend/customer.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
