{% extends 'layouts/dashboard_layout.html' %}

{% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">

    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">

      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <!--! ================================================================ !-->
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>DATA JASA SERVIS</h3>
          </div>

          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Jasa Servis
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--! ================================================================ !-->
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Button !-->
      <!--! ================================================================ !-->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end">
                <button
                  class="btn btn-outline-success"
                  data-bs-toggle="modal"
                  data-bs-target="#service_modal">

                  <i class="bi bi-plus-lg"></i>
                  Tambah Jasa
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! ================================================================ !-->
      <!--! [End] Button !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Table !-->
      <!--! ================================================================ !-->
      <section class="section">
        <div class="card">
          <div class="card-body">

            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Jasa</th>
                  <th>Biaya</th>
                  <th>Keterangan</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody id="service_table">
                <!-- Render By Javascript -->
              </tbody>

            </table>

          </div>
        </div>
      </section>
      <!--! ================================================================ !-->
      <!--! [End] Table !-->
      <!--! ================================================================ !-->

    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Footer !-->
    <!--! ================================================================ !-->
    {% include 'components/footer_dashboard.html' %}
    <!--! ================================================================ !-->
    <!--! [End] Footer !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Modal !-->
    <!--! ================================================================ !-->
    <div
      class="modal fade text-left"
      id="service_modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title" id="modal_label">
              Tambah Jasa
            </h4>

            <button
              type="button"
              class="close"
              data-bs-dismiss="modal">

              <i data-feather="x"></i>
            </button>
          </div>

          <form action="#">

            <div class="modal-body">

              <input
                type="hidden"
                id="service_id">

              <label>Nama Jasa :</label>
              <input
                type="text"
                id="service_name"
                class="form-control"
                placeholder="Nama Jasa">

              <label class="mt-3">Biaya Jasa :</label>
              <input
                type="text"
                id="service_fee"
                class="form-control"
                placeholder="Biaya Jasa">

              <label class="mt-3">Keterangan :</label>
              <textarea
                id="service_description"
                class="form-control"
                rows="3"
                placeholder="Keterangan"></textarea>

            </div>

            <div class="modal-footer">

              <button
                type="button"
                class="btn btn-light-secondary"
                data-bs-dismiss="modal">

                <span>Tutup</span>
              </button>

              <button
                type="button"
                class="btn btn-primary btn-save">

                Simpan
              </button>

            </div>

          </form>

        </div>

      </div>

    </div>
    <!--! ================================================================ !-->
    <!--! [End] Modal !-->
    <!--! ================================================================ !-->

  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->
</div>

<script src="{{ url_for('static', filename='javascript/helper/utilities.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/formatter.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/swal.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/validators.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/api/service.js') }}"></script>

{% endblock %}