{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="app">
  <!--! ================================================================ !-->
  <!--! [Start] Navigation Section !-->
  <!--! ================================================================ !-->
  {% include 'components/nav_dashboard.html' %}
  <!--! ================================================================ !-->
  <!--! [End] Navigation Section !-->
  <!--! ================================================================ !-->

  <!--! ================================================================ !-->
  <!--! [Start] Page Content !-->
  <!--! ================================================================ !-->
  <div id="main">
    <!--! ================================================================ !-->
    <!--! [Start] Burger Button !-->
    <!--! ================================================================ !-->
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Burger Button !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <div class="page-heading">
      <!--! ================================================================ !-->
      <!--! [Start] Header !-->
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>DATA KENDARAAN</h3> <br>
            <div class="mb-3">
              <div class="mb-2">
                <span class="text-muted d-inline-block" style="width: 110px">Pelanggan</span>
                <span>: <strong>{{ customer_name }}</strong></span>
              </div>

              <div class="mb-2">
                <span class="text-muted d-inline-block" style="width: 110px">No. HP</span>
                <span>: <strong>{{ customer_phone }}</strong></span>
              </div>

              <div>
                <span class="text-muted d-inline-block" style="width: 110px">Alamat</span>
                <span>: <strong>{{ customer_address }}</strong></span>
              </div>
            </div>
            <!-- <p class="text-subtitle text-muted">The default layout</p> -->
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('customer.index') }}">Pelanggan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kendaraan</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--! [End] Header !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Title !-->
      <section class="section">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#vehicle_modal">
                  <i class="bi bi-plus-lg"></i> Tambah Kendaraan
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--! [End] Title !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Content !-->
      <section class="section">
        <div class="card">
          <!-- <div class="card-header">Simple Datatable</div> -->
          <div class="card-body">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Plat Nomor</th>
                  <th>Merk</th>
                  <th>Tipe</th>
                  <th>Tahun</th>
                  <th>Warna</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="vehicle_table">
                <!-- row table set at javascript -->
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!--! [End] Content !-->
      <!--! ================================================================ !-->
    </div>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Footer !-->
    {% include 'components/footer_dashboard.html' %}
    <!--! [End] Footer !-->
    <!--! ================================================================ !-->

    <!--! ================================================================ !-->
    <!--! [Start] Modal Form !-->
    <div class="modal fade text-left" id="vehicle_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal_label">Tambah Kendaraan</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i data-feather="x"></i>
            </button>
          </div>
          <form action="#">
            <div class="modal-body">
              <input type="hidden" id="vehicle_id" />
              <input type="hidden" id="customer_id" value="{{ customer_id }}" />
              <label>Plat Nomor : </label>
              <input type="text" id="plate_number" class="form-control" placeholder="Plat Nomor Kendaraan" />
              <label>Merek : </label>
              <input type="text" id="vehicle_brand" class="form-control mt-2" placeholder="Merek Kendaraan" />
              <label>Tipe :</label>
              <input type="text" id="vehicle_type" class="form-control mt-2" placeholder="Tipe Kendaraan" />
              <label>Tahun : </label>
              <input type="number" id="vehicle_year" class="form-control mt-2" placeholder="Tahun Kendaraan" />
              <label>Warna : </label>
              <input type="text" id="vehicle_color" class="form-control mt-2" placeholder="Warna Kendaraan" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Tutup</span>
              </button>
              <button type="button" class="btn btn-primary btn-save">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--! [End] Modal Form !-->
    <!--! ================================================================ !-->
  </div>
  <!--! ================================================================ !-->
  <!--! [End] Page Content !-->
  <!--! ================================================================ !-->
</div>

<script src="{{ url_for('static', filename='javascript/helper/utilities.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/formatter.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/swal.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/helper/validators.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/api/vehicle.js') }}"></script>
{% endblock %}
