{% extends 'layouts/dashboard_layout.html' %} {% block content %}

<div id="auth">
   <div class="row h-100">
      <!--! ================================================================ !-->
      <!--! [Start] Sign In Form Section !-->
      <!--! ================================================================ !-->
      <div class="col-lg-5 col-12">
         <div id="auth-left">
            <!--! ================================================================ !-->
            <!--! [Start] Card Box !-->
            <div class="card shadow-lg login-card">
               <div class="card-body p-5">
                  <!--! ================================================================ !-->
                  <!--! [Start] Card Box - Header !-->
                  <div class="text-center mb-4">
                     <h3 class="fw-bold">Login</h3>

                     <p class="text-muted">Sistem Informasi POS Bengkel Motor</p>
                  </div>
                  <!--! [End] Card Box - Header !-->
                  <!--! ================================================================ !-->

                  <!--! ================================================================ !-->
                  <!--! [Start] Card Box - Form !-->
                  <form id="signin_form">
                     <!-- Username/ Email -->
                     <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" name="usermail" id="usermail" class="form-control form-control-xl" placeholder="Username/Email" required />
                        <div class="form-control-icon">
                           <i class="bi bi-person"></i>
                        </div>
                     </div>
                     <!-- Username/ Email - Close -->

                     <!-- Password -->
                     <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" name="password" id="password" class="form-control form-control-xl" placeholder="Password" required />
                        <div class="form-control-icon">
                           <i class="bi bi-shield-lock"></i>
                        </div>
                     </div>
                     <!-- Password - Close -->

                     <button type="submit" class="btn btn-primary btn-lg w-100 btn-submit">Masuk ke Sistem</button>
                  </form>
                  <div class="text-center mt-4">
                     <span class="text-muted"> Belum punya akun? </span>
                     <a href="{{ url_for('auth.signup_page') }}" class="login-link"> Daftar Sekarang </a>
                  </div>
                  <!--! [End] Card Box - Form !-->
                  <!--! ================================================================ !-->
               </div>
            </div>
            <!--! [End] Card Box !-->
            <!--! ================================================================ !-->
         </div>
      </div>
      <!--! ================================================================ !-->
      <!--! [End] Sign In Form Section !-->
      <!--! ================================================================ !-->

      <!--! ================================================================ !-->
      <!--! [Start] Side Banner Section !-->
      <!--! ================================================================ !-->
      <div class="col-lg-7 d-none d-lg-block">
         <div id="auth-right">
            <div class="text-center text-white">
               <img src="{{ url_for('static', filename='images/items/logopos.png') }}" class="logo-right mb-4" />
               <h1 class="fw-bold text-white">POS Bengkel Motor</h1>
               <p class="fs-4 text-white">Sistem Informasi Point Of Sale</p>
               <p class="text-light">Kelola Transaksi dan Stok Bengkel Motor</p>
            </div>
         </div>
      </div>
      <!--! ================================================================ !-->
      <!--! [End] Side Banner Section !-->
      <!--! ================================================================ !-->
   </div>
</div>

<!--! ================================================================ !-->
<!--! [Start] Javascrpt Modul !-->
<script src="{{ url_for('static', filename='javascript/api/auth.js') }}"></script>
<!--! [End] Javascrpt Modul !-->
<!--! ================================================================ !-->

{% endblock %}
